[Unit]
Description=Launch hotspot if no connection
After=network.target

[Service]
Type=simple
ExecStart=/home/orangepi/opizero-hotspot/launch-hotspot.sh